{% extends "base.html" %}

{% block title %} Update Customer {% endblock %}

{% block content %}

<div class="row text-center">
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
        {% for category, message in messages %}
    <div class="alert alert-{{category}} text-center alter-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
        {% endfor %}
      {% endif %} 
    {% endwith %}
  </div>

<div class="container">
    <form method="post" autocomplete="off" class="row g-3" enctype="multipart/form-data">
      <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Customer Name :- </label>
        <input type="text" value="{{ user.name }}" name="name" class="form-control" id="name" placeholder="Name" required>
        <span></span>
      </div>
      <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Phone Number :- </label>
        <input type="text" value="{{ user.phone_number }}" name="phone_number" class="form-control" id="phone_number" placeholder="01234567890" required>
        <span></span>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}